<div class="loader-wrapper">
         <div class="preloader" id="loader"></div>
      </div>
      <div class="page-content">
         <div id="main">
            <header class="nav-container">
                  <div class="container-fluid">
                     <div class="header">
                        <span onclick="openNav()" id="collapse" class="bars-btn"><i class="fa fa-bars icon"></i></span>
                        <a class="brand" href="javascript:void(0);" title="Website name">Zapbuild HRM</a> 
                     </div>
                     <ul class="links">
                        <li><a href="/" title="logout" class="white"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                     </ul>
                  </div>
            </header>
            <div class="main-panel" >
               <div class="wrapper">
                    <h1 class="page-title">Dashboard</h1>
                  <div class="row">
                      <div class="col-md-8 col-sm-8">
                        <div class="column">
                           <div class="heading red">
                              <h2>Announcements</h2>
                           </div>
                           <div class="card-content">
                              <%announcements.forEach(result=>{%>
                              <section class="announcement">
                                 <h3 class="announcement-heading"><%=result.announcementTitle%></h3>
                                 <p class="announcement-data"><%=result.announcementDescription%></p>
                              </section>
                              <%})%>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-4 col-sm-4">
                        <div class="column">
                           <div class="heading yellow">
                              <h2>Notifications</h2>
                           </div>
                           <div class="card-content">
                              <%notifications.forEach(result=>{%>
                              <ul class="notification">
                               <li><span class="glyphicon glyphicon-hand-right"></span><%=result.message%></li>
                              </ul>
                              <%})%>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-8 col-sm-8">
                        <div class="column">
                           <div class="heading green">
                              <h2>Departments List</h2>
                           </div>
                           <div class="search-bar ">
                              <form action="">
                                <input type="search"  id="searchicon" class="disp-none">
                                <i class="fa fa-search" onclick="searchBar(this)" ></i>
                              </form>  
                           </div>
                           <div class="card-content">
                              <div class="trainees-table">
                                <table class="table table-striped">
                                <thead>
                                   <tr>
                                      <th>Trainee Name</th>
                                      <th>Mentor Name</th>
                                      <th>Department name</th>
                                   </tr>
                                </thead>
                                <tbody id="myList">
                                   <tr>
                                      <td><a href="javascript:void(0);" title="Tarun Mahajan">Shyamal Mahajan</a></td>
                                      <td>Louis Zen</td>
                                      <td>Learning and Development</td>
                                   </tr>
                                </tbody>
                              </table>      
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-4 col-sm-4">
                        <div class="column">
                           <div class="heading purple">
                              <h2>Upcoming events</h2>
                           </div>
                           <div class="card-content">
                              <%events.forEach(result=>{%>
                              <section class="event">
                                 <h3 class="event-info"><%=result.heading%></h3>
                                 <p class="event-date"><%=result.date%></p>
                              </section>
                              <%})%>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <aside class="sidenav" id="mysidenav">
            <div class="overlay"></div>
            <a href="javascript:void(0)" title="Click to close" class="closebtn" onclick="closeNav()">&times;</a>
            <div class="profile-photo">
               <img src="images/profile.jpeg" width="216" height="233" alt="user's profile pic" class="img-responsive">
            </div>
            <ul class="items">
               <li><a href="/admin/add/announcement" title="Add Announcements">Add Announcements</a></li>
               <li><a href="/admin/add/mentor" title="Resolve Queries">Add Mentor</a></li>
               <li><a href="javascript:void(0)" title="Trainees Timelog">Trainee leaves</a></li>
               <li><a href="javascript:void(0)" title="Syllabus">Add Department</a></li>
               <li><a href="/admin/add/event" title="Add Events">Add Events</a></li>
               <li><a href="javascript:void(0)" title="Add marks">Add Trainee</a></li>
               <li><a href="/admin/notification" title="Send Email">Send Notifications</a></li>
            </ul>
         </aside>
      </div>
      <script src="js/jquery.min.js"></script>
      <script src="js/bootstrap.min.js"></script>
      <script src="js/jquery-1.12.4.js"></script>
      <script>
      $(document).ready(function(){
         $("#searchicon").on("keyup", function() {
           var value = $(this).val().toLowerCase();
           $("#myList tr").filter(function() {
             $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
           });
         });
       });
         function openNav() {
             if($(window).width() <= 1200)
             {
             document.getElementById("mysidenav").style.marginLeft="0";
             document.getElementById("main").style.marginLeft="0";
             document.getElementById("collapse").style.display ="none";
              }
              else{
              document.getElementById("mysidenav").style.marginLeft="0";
             document.getElementById("main").style.marginLeft="230px";
             document.getElementById("collapse").style.display ="none";  
              }
          }
          function closeNav(){
             document.getElementById("mysidenav").style.marginLeft="-230px";
             document.getElementById("main").style.marginLeft="0";
             document.getElementById("collapse").style.display="inline-block";
          }
         function searchBar(x){
            var element = document.getElementById("searchicon");
            var cname = element.className;
            x.classList.toggle("fa-times");
            if(cname == "disp-none")
            {
            element.classList.remove("disp-none");
            element.classList.add("disp-block");
            }
            if(cname  == "disp-block")
            {
            element.classList.remove("disp-block");
            element.classList.add("disp-none");
            }  
        }
         
         $(window).on("load",function(){
            $(".loader-wrapper").fadeOut("slow");
         });

         // jquery for loadmore
         $(document).ready(function () {
           var size_li = $("#myList li").size();
         var x = 5;
             size_li = $("#myList li").size();
             x=5;
             $('#myList li:lt('+x+')').show();
             $('#loadMore').click(function () {
                 x= (x+3 <= size_li) ? x+3 : size_li;
                 $('#myList li:lt('+x+')').show();
             });
         });
         var socket = io();
         socket.on('notification',(data)=>{
            let ulElement = document.querySelector('.notification');
            let listElement = document.createElement('LI');
            let spanElement = document.createElement('SPAN');
            spanElement.classList.add('glyphicon');
            spanElement.classList.add('glyphicon-hand-right');
            let spanTextNode = document.createTextNode(data);
            
            listElement.appendChild(spanElement);
            listElement.appendChild(spanTextNode);
            ulElement.appendChild(listElement);
         })
         socket.on('event',(event)=>{
            let divEventElement = document.querySelector('.event-card');
            let sectionElement = document.createElement('SECTION');
            sectionElement.classList.add('event');
            let h3Element = document.createElement('H3');
            h3Element.classList.add('event-info');
            let h3TextNode = document.createTextNode(event.heading);
            h3Element.appendChild(h3TextNode);
            let pElement = document.createElement("P");
            pElement.classList.add('event-date');
            let pTextnode = document.createTextNode(event.date)
            pElement.appendChild(pTextnode);
            sectionElement.appendChild(h3Element);
            sectionElement.appendChild(pElement);
            divEventElement.appendChild(sectionElement);
            
         })
         socket.on('announcement',data=>{
            let divEventElement = document.querySelector('.announcement-card');
            let sectionElement = document.createElement('SECTION');
            sectionElement.classList.add('announcement');
            let h3Element = document.createElement('H3');
            h3Element.classList.add('announcement-heading');
            let h3TextNode = document.createTextNode(data.announcementTitle);
            h3Element.appendChild(h3TextNode);
            let pElement = document.createElement("P");
            pElement.classList.add('announcement-data');
            let pTextnode = document.createTextNode(data.announcementDescription)
            pElement.appendChild(pTextnode);
            sectionElement.appendChild(h3Element);
            sectionElement.appendChild(pElement);
            divEventElement.appendChild(sectionElement);
         })
      </script>