<%-include('sidenav')%>
<div class="loader-wrapper">
  <div class="preloader" id="loader"></div>
</div>
<div class="page-content">
  <div id="main">
    <div class="main-panel">
      <div class="wrapper">
        <h1 class="page-title">Dashboard</h1>
        <div class="row">
          <div class="col-md-8 col-sm-6">
            <div class="column">
              <div class="heading red">
                <h2>My Questions and Queries</h2>
              </div>
              <div class="card-content">
                <section class="queries">
                  <h3 class="question">
                    What kind of development are you currently doing?
                  </h3>
                  <p class="answer">
                    Candidates should showcase their understanding for how their
                    role fits into the bigger picture and helps the company
                    grow," Halpin said. "For example, if a candidate works at an
                    e-commerce organization, they should understand how the
                    application they work on allows orders to be processed and
                    helps track customer information.
                  </p>
                </section>
                <section class="queries">
                  <h3 class="question">
                    What kind of development are you currently doing?
                  </h3>
                  <p class="answer">
                    Candidates should showcase their understanding for how their
                    role fits into the bigger picture and helps the company
                    grow," Halpin said. "For example, if a candidate works at an
                    e-commerce organization, they should understand how the
                    application they work on allows orders to be processed and
                    helps track customer information.
                  </p>
                </section>
                <section class="queries">
                  <h3 class="question">
                    What kind of development are you currently doing?
                  </h3>
                  <p class="answer">
                    Candidates should showcase their understanding for how their
                    role fits into the bigger picture and helps the company
                    grow," Halpin said. "For example, if a candidate works at an
                    e-commerce organization, they should understand how the
                    application they work on allows orders to be processed and
                    helps track customer information.
                  </p>
                </section>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="column">
              <div class="heading yellow">
                <h2>Trainees List</h2>
              </div>
              <div class="search-bar">
                <form action="">
                  <input
                    type="search"
                    id="searchicon"
                    autocomplete="off"
                    class="disp-none"
                  />
                  <i class="fa fa-search" onclick="searchBar()"></i>
                </form>
              </div>
              <div class="card-content" id="card">
                <ul class="trainees-name" id="myList">
                  <% if (traineeNames.length > 0) { %> <% for (var i =0; i <
                  traineeNames.length; i++ ) { %>
                  <li style="font-size: larger;">
                    <a href="javascript:void(0);"><%=traineeNames[i].name%></a>
                  </li>
                  <% } %> <%} else { %>
                  <h3 style="color: #055e93;" class="bg-warning">
                    No Trainee Registered Now!
                  </h3>
                  <% } %>
                </ul>
                <%if(traineeNames.length >6){%>
                <div id="loadMore">
                  <img
                    style="position: absolute; bottom: 15px;"
                    src="/images/more.png"
                    width="15"
                    height="15"
                    title="show more"
                    alt="Double arrow"
                  />
                </div>
                <%}%>
              </div>
            </div>
          </div>
          <div class="col-md-8 col-sm-6">
            <div class="column">
              <div class="heading green">
                <h2>Announcements</h2>
              </div>
              <div class="card-content">
                <% if (announcements.length > 0) { %> <% for (var i =0; i <
                announcements.length; i++ ) { %>
                <section class="announcement">
                  <h3 class="announcement-heading">
                    <%=announcements[i].announcementTitle%>
                    <span class="announcement-data"
                      ><%=announcements[i].createdAt%></span
                    >
                  </h3>
                  <p style="font-size: 15px;" class="announcement-data">
                    <%=announcements[i].announcementDescription%>
                  </p>
                </section>
                <% } %> <%} else { %>
                <h3 style="color: #055e93;" class="bg-warning">
                  No Announcements Available Now!
                </h3>
                <% } %>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="column">
              <div class="heading purple">
                <h2>Upcoming events</h2>
              </div>
              <div class="card-content">
                <% if (events.length > 0) { %> <% for (var i =0; i <
                events.length; i++ ) { %>
                <section class="event">
                  <h3 class="event-info"><%=events[i].heading%></h3>
                  <p style="font-size: 15px;" class="event-date">
                    <%=events[i].date%>
                  </p>
                </section>
                <% } %> <%} else { %>
                <h3 style="color: #055e93;" class="bg-warning">
                  No Events Available Now!
                </h3>
                <% } %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://unpkg.com/notie"></script>
<script src="/js/wow.js"></script>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery-1.12.4.js"></script>
<script src="/js/sidebar.js"></script>
<script src="/js/dashboard-script.js"></script>
<script>
  $(document).ready(function () {
    // $("#myList li").css("font-size", "larger");
    let size_li = $("#myList li").size();
    let x = 6;
    $("#myList li:lt(" + x + ")").show();
    $("#loadMore").click(function () {
      x = x + 3 <= size_li ? x + 3 : size_li;
      $("#myList li:lt(" + x + ")").show();
    });
  });
  $(window).on("load", function () {
    $(".loader-wrapper").fadeOut("slow");
  });
</script>
