
<div class="loader-wrapper">
         <div class="preloader" id="loader"></div>
      </div>
      <div class="page-content">
         <div id="main">
                  <div class="main-panel" >
               <div class="wrapper">
                    <h1 class="page-title">Performance of  <%=traineeName%></h1>
                    <div class="row">
                      <div class="col-sm-6 ">
                        <h2 class="performance-card-head "><img src="/images/bar.png" width="22" height="22" alt="report"> Weekly Progress</h2>
                          <div class="performance-card performance-table">
                           <div id="chartContainer" class="chart-box"></div> 
                         </div>  
                      </div>
                      <div class="col-sm-6">
                              <h2 class="performance-card-head"><img src="/images/table.png" width="22" height="22" alt="blue bars"> Tests Report</h2>
                        <div class="performance-card performance-table">
                              <table class="table table-hover table-striped wow fadeIn" data-wow-duration="2s">
                                <thead>
                                  <tr>
                                    <th>Test no.</th>
                                    <th>Test name</th>
                                    <th>Total marks</th>
                                    <th>Marks obtained</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <%for(i=0;i<tests.length;i++){%>
                                  <tr>
                                    <td><%=i+1%></td>>
                                    <td><%=tests[i].name%></td>
                                    <td><%=tests[i].totalmarks%></td>
                                    <td><%=test_marks_array[i]%></td>
                                  </tr>
                                    <%}%>
                                  <tfoot>
                                    <tr>
                                      <td>Total</td>
                                      <td></td>
                                      <td><%=totalmarks%></td>
                                      <td><%=scoredmarks%></td>
                                    </tr> 
                                  </tfoot>
                                </tbody>
                              </table>
                          </div>
                       </div>
                    </div>                                             
               </div>
            </div>
         </div>
      </div>
      <script src="/js/jquery.min.js"></script>
      <script src="/js/bootstrap.min.js"></script>
      <script src="/js/jquery-1.12.4.js"></script>
      <script src="/js/canvasjs.min.js"></script>
      <script src="/js/wow.js"></script>
      <script src="/js/sidebar.js"></script>
      <script>
        let data=[],
           weeklyPercentage;
         weeklyPercentage='<%=weeklyPercentage%>'.split(',');
         weeklyPercentage=weeklyPercentage.map(Number);
        for(i=0;i<weeklyPercentage.length;i++){
          if(weeklyPercentage[i] == 0){
            data.push({
            label: `Week ${i+1}`, y: 0.00
          })  
          }
          else{
          data.push({
            label: `Week ${i+1}`, y: weeklyPercentage[i]
          })  
        }
        }
    // jquery bar graph
        window.onload = function () {
            var chart = new CanvasJS.Chart("chartContainer", {
              animationEnabled: true,
              theme: "light2", // "light1", "light2", "dark1", "dark2"
              axisY: {
                title: "(Percentage %)",
                includeZero: false
              },
              data: [{
                type: "column",
                yValueFormatString: "#,##0.0#",
                showInLegend: true, 
                legendMarkerColor: "grey",
                legendText: "WEEKS",
                dataPoints: data
              }]
            });
            chart.render();
            }
</script>