<div id="main">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Start Time</th>
        <th scope="col">End Time</th>
        <th scope="col">Task Memo</th>
        <th scope="col">Cetogory</th>
      </tr>
    </thead>
    <tbody>
      <%data.forEach(timelog=>{%>
      <tr>
        <td><%=timelog.date%></td>
        <td><%=timelog.start_time%></td>
        <td><%=timelog. end_time%></td>
        <td><%=timelog.task_memo%></td>
        <td><%=timelog.category%></td>
        <%})%>
      </tr>
    </tbody>
  </table>
</div>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery-1.12.4.js"></script>
<script src="/js/canvasjs.min.js"></script>
<script src="/js/wow.js"></script>
<script src="/js/sidebar.js"></script>
